#TMSH-VERSION: 17.1.1.1

cli admin-partitions {
    update-partition Common
}

cm device /Common/sslo1.f5trn.com {

    unicast-address {
        {
            effective-ip 172.16.1.31
            effective-port 1026
            ip 172.16.1.31
        }
        {
            effective-ip management-ip
            effective-port 1026
            ip management-ip
        }
    }
    version 17.1.1.1
}
cm device-group /Common/device_trust_group {
    auto-sync enabled
    devices {
        /Common/sslo1.f5trn.com { }
    }
    hidden true
    network-failover disabled
}
cm device-group /Common/gtm {
    devices {
        /Common/sslo1.f5trn.com { }
    }
    hidden true
    network-failover disabled
}

cm traffic-group /Common/traffic-group-1 {
    unit-id 1
}
cm traffic-group /Common/traffic-group-local-only { }

ltm default-node-monitor {
    rule none
}
ltm node /Common/172.16.20.1 {
    address 172.16.20.1
}
ltm node /Common/172.16.20.2 {
    address 172.16.20.2
}
ltm node /Common/172.16.20.3 {
    address 172.16.20.3
}
ltm pool /Common/existing_app_pool {
    members {
        /Common/172.16.20.1:443 {
            address 172.16.20.1
        }
        /Common/172.16.20.2:443 {
            address 172.16.20.2
        }
        /Common/172.16.20.3:443 {
            address 172.16.20.3
        }
    }
    monitor /Common/gateway_icmp
}
ltm virtual /Common/existing_app_vs {
    creation-time 2024-08-06:08:22:11
    destination /Common/10.10.1.100:443
    ip-protocol tcp
    last-modified-time 2024-08-06:08:22:11
    mask 255.255.255.255
    pool /Common/existing_app_pool
    profiles {
        /Common/tcp { }
    }
    serverssl-use-sni disabled
    source 0.0.0.0/0
    source-address-translation {
        type automap
    }
    translate-address enabled
    translate-port enabled
}
ltm virtual-address /Common/10.10.1.100 {
    address 10.10.1.100
    arp enabled
    icmp-echo enabled
    mask 255.255.255.255
    traffic-group /Common/traffic-group-1
}

net interface 1.1 {
    media-fixed 10000T-FD
}
net interface 1.2 {
    media-fixed 10000T-FD
}
net interface 1.3 {
    media-fixed 10000T-FD
}
net interface 1.4 {
    media-fixed 10000T-FD
}
net interface 1.5 {
    media-fixed 10000T-FD
}
net interface 1.6 {
    media-fixed 10000T-FD
}
net interface 1.7 {
    media-fixed 10000T-FD
}
net interface 1.8 {
    media-fixed 10000T-FD
}
net port-list /Common/_sys_self_allow_tcp_defaults {
    ports {
        22 { }
        53 { }
        161 { }
        443 { }
        1029-1043 { }
        4353 { }
    }
}
net port-list /Common/_sys_self_allow_udp_defaults {
    ports {
        53 { }
        161 { }
        520 { }
        1026 { }
        4353 { }
    }
}
net route /Common/external_default_gateway {
    gw 10.10.17.33
    network default
}
net route-domain /Common/0 {
    id 0
    vlans {
        /Common/icap_VLAN
        /Common/internal
        /Common/http-tunnel
        /Common/socks-tunnel
        /Common/external
    }
}
net self /Common/10.1.30.33 {
    address 10.1.30.33/24
    traffic-group /Common/traffic-group-1
    vlan /Common/icap_VLAN
}
net self /Common/10.1.30.31 {
    address 10.1.30.31/24
    traffic-group /Common/traffic-group-local-only
    vlan /Common/icap_VLAN
}
net self /Common/10.10.1.31 {
    address 10.10.1.31/16
    traffic-group /Common/traffic-group-local-only
    vlan /Common/external
}
net self /Common/10.10.1.33 {
    address 10.10.1.33/16
    traffic-group /Common/traffic-group-1
    vlan /Common/external
}
net self /Common/172.16.1.31 {
    address 172.16.1.31/16
    allow-service {
        default
    }
    traffic-group /Common/traffic-group-local-only
    vlan /Common/internal
}
net self /Common/172.16.1.33 {
    address 172.16.1.33/16
    allow-service {
        default
    }
    traffic-group /Common/traffic-group-1
    vlan /Common/internal
}
net self-allow {
    defaults {
        igmp:0
        ospf:0
        pim:0
        tcp:161
        tcp:22
        tcp:4353
        tcp:443
        tcp:53
        udp:1026
        udp:161
        udp:4353
        udp:520
        udp:53
    }
}
net stp /Common/cist {
    interfaces {
        1.1 {
            external-path-cost 200000
            internal-path-cost 200000
        }
        1.2 {
            external-path-cost 200000
            internal-path-cost 200000
        }
        1.3 {
            external-path-cost 200000
            internal-path-cost 200000
        }
    }
    vlans {
        /Common/external
        /Common/icap_VLAN
        /Common/internal
    }
}
net vlan /Common/external {
    dag-adjustment none
    interfaces {
        1.1 { }
    }
    tag 4093
}
net vlan /Common/icap_VLAN {
    dag-adjustment none
    interfaces {
        1.3 { }
    }
    sflow {
        poll-interval-global no
        sampling-rate-global no
    }
    tag 4092
}
net vlan /Common/internal {
    dag-adjustment none
    interfaces {
        1.2 { }
    }
    tag 4094
}

sys db avr.stats.internal.maxentitiespertable {
    value "2148"
}

sys db ssl.certrequest.commonname {
    value "sslo1.f5trn.com"
}
sys db ssl.certrequest.divisionname {
    value "Global Services Technical Training"
}
sys db ssl.certrequest.localityname {
    value "Seattle"
}
sys db ssl.certrequest.organizationname {
    value "F5, Inc."
}
sys db ssl.certrequest.stateorprovincename {
    value "WA"
}
sys db tmm.dhcp.client.connection.packets.inprogress.max {
    value "2000"
}
sys db tmm.dhcp.server.connection.packets.inprogress.max {
    value "2000"
}
sys db version.fipsmodule {
    value "Cryptographic Module for BIG-IP"
}
sys dns {
    name-servers { 172.16.20.1 }
    search { f5trn.com }
}

sys global-settings {
    gui-setup disabled
    hostname sslo1.f5trn.com
    mgmt-dhcp dhcpv6
}
sys management-dhcp /Common/sys-mgmt-dhcp-config {
    request-options { subnet-mask broadcast-address routers domain-name domain-name-servers host-name ntp-servers interface-mtu }
}
sys management-ip 192.168.1.31/16 {
    description configured-statically
}

sys management-route /Common/default {
    description configured-statically
    gateway 192.168.17.33
    mtu 1500
    network default
}
sys ntp {
    servers { 172.16.20.1 }
}
sys provision avr {
    level nominal
}
sys provision ltm {
    level nominal
}
sys provision sslo {
    level nominal
}
sys provision urldb {
    level nominal
}

sys state-mirroring {
    addr 172.16.1.31
}

